# Environment variables
.env

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db